<!DOCTYPE html>
<head>
	   <title>Recipes World</title>
	   <link rel="stylesheet" href="/app.css">
	   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
	   <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>

<body id="body">
  	<!--Naviation Bar-->
  	<div id="navSection" class="ui fixed inverted menu">
        <div id="navItems" class="ui container">
          
          <div id="brandName" class="header item">
            <i class="food icon"></i>
              <a href="/">Recipes World</a>
          </div>
          <!--End of Brand Name-->
          
          <!--Items-->
          <a href="/" class="item">Home</a>
          <a href="/recipes" class="item">Recipes</a>
          <a href="/recipes/new" class="item">New Recipe</a>
      
      </div><!--End of container-->
    </div> <!--END OF NAV BAR-->
    