<% include ./partials/headerHomePage%>

        <div id="startDiv">
            <h1>Recipes World</h1>
            <button><a href="/recipes">Start</a></button>
        </div>
        
<div class="slideshow">
  <div class="slide current" style="background-image:url(http://s32.postimg.org/whwvp16th/farm_to_table_background.jpg);"></div>
  <div class="slide" style="background-image:url(http://s32.postimg.org/ahu6riuit/804882_food_wallpaper.jpg);"></div>
  <div class="slide" style="background-image:url(http://s32.postimg.org/l7pbtgabp/870809_pizza_wallpaper_35425500.jpg);"></div>
  
</div>  



<% include ./partials/footerHomePage%>